.card{
    width: 500px;
    color:white;
    background-color:#2e091d;
    border-radius:25px;
    

}

#searchbar{
    width: 900px;
    border-radius:10px;
}
form{
    margin-left:20%;
    margin-top:10%;
}
#searchuser{
    margin-left: 20%;
    margin-bottom: 10%;

}