<form (ngSubmit)="submitUser()">
  <div class="form-group">
    <label for="exampleInputPassword1">Search</label>
    <input type="text" class="form-control" id="searchbar"   placeholder="Search user" name="user" [(ngModel)]="user">
  </div>
  <button  id="searchuser" type="submit" class="btn btn-primary">Search User</button>
</form>
<div *ngIf="User">
    <div class="container">
        <div class="card">
            <p>{{User.login}}</p>
            <img [src]="User.avatar_url" height="400">
            <div class="card-body">

                <p>Followers:{{User.followers}}</p>
                <p>Created_at:{{User.created_at}}</p>
                <p>Updated_at:{{User.updated_at}}</p>
                <p>Email:{{User.email}}</p>
                <p>Name:{{User.name}}</p>
                <p>Following{{User.following}}</p>
                <p>Id:{{User.id}}</p>
            </div>
           
    </div>

        </div>
    </div>
